aFg = #ffffff
b-bg = rgba(119, 134, 153, 0.59)

.a-class
 font-family Roboto
 font-size 14px
 font-weight 500
 line-height 2.57
 color aFg

.bClass
 font-family: "Roboto"
 font-size "14px";
 font-weight: 500;
 line-height: 2.57
 color: b-bg
